/*COLORS USED */
/* 3 BREAKPOINTS USED*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  /* box-sizing is applied to all elements */
}

html {
  /*FONTS USED*/
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/*font-family: 'Shrikhand', cursive; 'Roboto', sans-serif;*/
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3vh 0 1.5vh 0;
  width: 100%;
}
nav a {
  display: inline-block;
  text-decoration: none;
}
nav a:visited {
  text-decoration: none;
  color: black;
}
nav .home-btn {
  width: 45%;
  max-width: 45%;
}
nav .home-btn img {
  max-width: 100%;
  height: auto;
}
nav .back-btn {
  margin-right: 18vw;
  margin-left: 6vw;
}
nav i {
  transform: scale(1.2);
  font-size: 4vw;
}

footer {
  background: #353535;
  height: 100%;
  margin: 0;
}
footer img {
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(251deg) brightness(106%) contrast(100%);
  width: 25%;
  height: auto;
  padding-top: 6vw;
  margin-left: 6vw;
}
footer ul {
  padding-left: 6vw;
  padding-bottom: 6vw;
  margin-bottom: 0;
}
footer li {
  list-style: none;
  color: white;
  padding-bottom: 2vw;
}
footer li i {
  color: white;
  padding-right: 6vw;
}

.search-bar {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vh 0;
  -webkit-box-shadow: inset 0 5px 5px -3px #CFCFCF;
  box-shadow: inset 0 5px 5px -3px #CFCFCF;
}
.search-bar input {
  border: none;
  background: #EAEAEA;
  padding-left: 4vw;
  font-size: 4vw;
}
.search-bar input::placeholder {
  color: #353535;
}
.search-bar i {
  color: #353535;
  padding-left: 10vw;
}

.btn-grad {
  background-image: linear-gradient(to right, #603813 0%, #b29f94 51%, #603813 100%);
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

/*Intro button w/ gradient effect*/
.btn {
  border: 0;
  border-radius: 10vw;
  padding: 5vw;
  color: white;
}
.btn--shadow {
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn--gradient {
  background-color: #FF79DA;
  background-image: linear-gradient(to bottom right, #FF79DA 10%, #9356DC);
}
.btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.btn-order {
  display: block;
  margin: 10vw auto 0 auto;
  padding: 4vw 14vw;
}

.card-container {
  margin-left: 6vw;
  margin-right: 6vw;
}
.card-container .card {
  background: white;
  height: 251px;
  width: 100%;
  border-radius: 5vw;
  position: relative;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 6vw;
}
.card-container .card a, .card-container .card a:visited {
  text-decoration: none;
  color: black;
}
.card-container .card__card-img {
  width: 100%;
  height: 70%;
}
.card-container .card__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 5vw 5vw 0 0;
  z-index: 1;
}
.card-container .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}
.card-container .card .card-body__card-name {
  padding-top: 3vw;
}
.card-container .card .card-body__card-name h3, .card-container .card .card-body__card-name p {
  padding: 0 0 1vw 3vw;
  margin: 0;
}
.card-container .card .card-body i {
  margin-right: 5vw;
}
.card-container .card--new {
  background: #99E2D0;
  width: 22vw;
  height: 7vw;
  text-align: center;
  z-index: 3;
  position: absolute;
  top: 5vw;
  right: 5vw;
  /*transform: translate(62vw,-43vw);*/
  padding-top: 1vw;
  border-radius: 0.5vw;
}
.card-container .card--new span {
  color: #08916f;
  font-size: 4vw;
}

.card:nth-child(0n+2) img {
  object-position: 50% 60%;
}

.small-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  border-radius: 4vw;
  padding: 3vw 3vw;
  margin: 0 4vw 4vw 4vw;
}
.small-card h3, .small-card p {
  margin: 0;
}
.small-card h3 {
  padding-bottom: 1vw;
}
.small-card p {
  font-size: 4vw;
}
.small-card__price {
  padding-right: 2vw;
}
.small-card__price span {
  font-weight: bold;
}

.home-nav {
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 15vw;
  text-align: center;
}
.intro h1 {
  font-size: 6.5vw;
  margin-bottom: 0;
}
.intro p {
  font-size: 4vw;
}

.operating h2 {
  margin-left: 6vw;
}
.operating ol {
  list-style: none;
  counter-reset: li;
  padding: 0 7vw 0 7vw;
}
.operating ol li {
  counter-increment: li;
  font-size: 4vw;
  background: #F6F6F6;
  border-radius: 5vw;
  padding: 6.5vw;
  margin-bottom: 6vw;
}
.operating ol li:before {
  content: counter(li);
  list-style-position: outside;
  color: white;
  text-align: center;
  background: #9356DC;
  display: inline-block;
  width: 6.5vw;
  height: 6.5vw;
  line-height: 6.5vw;
  font-size: 3.5vw;
  border-radius: 15vw;
  margin-left: -4vw;
  transform: translateX(-6vw);
}
.operating ol li i {
  color: #7E7E7E;
  padding-right: 9vw;
}
.operating ol li:hover, .operating ol li:active {
  background: #f1e9fb;
}
.operating ol li:hover i, .operating ol li:active i {
  color: #9356DC;
}

.restaurants {
  background: #F6F6F6;
  margin-bottom: 0;
  padding-bottom: 10vw;
}
.restaurants h2 {
  margin-left: 6vw;
  margin-top: 0;
  padding-top: 10vw;
}

.menu {
  background: #F6F6F6;
  padding-bottom: 20vw;
}
.menu__img {
  position: relative;
  width: 100%;
  height: 258px;
}
.menu__img img {
  width: 100%;
  height: auto;
}

.menu-heading {
  font-family: "Shrikhand", cursive;
  padding: 0 10vw 0 4vw;
  border-radius: 10vw 10vw 0 0;
  position: relative;
  bottom: 15vw;
  width: 100%;
  background: #F6F6F6;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-parts h2 {
  margin-left: 6vw;
  margin-top: 8vw;
  border-bottom: 1vw solid;
  border-image: linear-gradient(to right, #99E2D0 13%, #F6F6F6 13%) 100% 1;
}

/*# sourceMappingURL=main.css.map */
