@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./base/base";
@import "./base/typography";

@import "./layout/header";
@import "./layout/footer";

@import "./components/forms";
@import "./components/buttons";
@import "./components/card";
@import "./components/loader";


@import "./pages/home";
@import "./pages/menu";