nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3vh 0 1.5vh 0;
  width: 100%;
  a {
    display: inline-block;
    text-decoration: none;

    &:visited{
      text-decoration: none;
      color: black;
    }
  }
  .home-btn{
    width: 45%;
    max-width: 45%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .back-btn{
    margin-right: 18vw;
    margin-left: 6vw ;
  }
  i {
    transform: scale(1.2);
    font-size: 4vw;
  }
}


