/*Intro button w/ gradient effect*/

.btn
{
  border: 0;
  border-radius: 10vw;
  padding: 5vw;
  color: white;
  font-size: 4vw;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @include small{
    font-size:2vw;
    padding: 2.5vw;
  }
  @include medium{
    font-size: 1.5vw;
    padding: 1.5vw;
  }
  @include large{
    font-size: 1vw;
    padding: 1.5vw;
  }
  &--shadow{
    box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.2);
  }
  &--gradient{
    background-color: $color-secondary;
  background-image: linear-gradient(to bottom right, $color-secondary 10%, $color-primary);
  }
  &::before{
    content: '';
    position: absolute;
    border-radius: 10vw;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
    opacity: 0;
    transition: opacity 0.2s;
  }
  &:active::before{
    opacity: 1;
  }
  &:hover, &:active{
    background-image:
            linear-gradient(to bottom right,
            lighten($color-secondary, 7.5%) 10%,
            lighten($color-primary, 7.5%));
  }
}

.btn-order{
  display: block;
  margin: 2vw auto 0 auto;
  padding: 4vw 14vw;
  @include small{
    font-size: 3vw;
    padding: 3vw 10vw;
  }
  @include medium{
    font-size: 2vw;
    padding: 1.5vw 5vw;
    margin: 0 auto 0 auto;
  }
  @include large{
    font-size: 1vw;
    padding: 1vw 2.5vw;
    margin: 0 auto 0 auto;
  }
}
