.card-container{
  @include base-margin;
  margin-right: 6vw;
  @include small{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  @include medium{
    max-width: 90vw;
    margin: 0 auto;
  }
  @include large{
    max-width: 85vw;
    margin: 0 auto;
  }

  .card{
    background: white;
    height: 67vw;
    width: 100%;
    border-radius: 5vw;
    position: relative;
    box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.2);
    margin-bottom: 6vw;
    z-index: 0;
    @include small{
      height: 35vw;
      width: 48%;
      border-radius: 2.5vw;
    }
    @include medium{
      height: 30vw;
      width: 22.5%;
      border-radius: 2.5vw;
    }
    @include large{
      height: 25vw;
      width: 22.5%;
      border-radius: 2.5vw;
    }
    a, a:visited{
      text-decoration: none;
      color: black;
    }

    &__card-img{
      width: 100%;
      height: 70%;
      @include medium{
        height: 80%;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        border-radius: 5vw 5vw 0 0;
        z-index: 1;
        @include small{
          object-position: center;
          border-radius: 2.5vw 2.5vw 0 0;
        }
      }
    }
    .card-body{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30%;
      @include medium{
        height: 20%;
      }
      &__card-name{
        padding: 2vw 0 1vw 3vw;
        @include medium{
          padding: 1vw 0 0 1.5vw;
        }
        @include large{
          padding: 0 0 0 1.5vw;
        }
        h3,p{
          margin:0;
          font-size: 4.5vw;
          @include small{
            font-size:3vw;
          }
          @include medium{
            font-size: 1.5vw;
          }
          @include large{
            font-size: 1.2vw;
          }
        }
      }
    }
    &--new {
      background: $color-tertiary;
      width: 22vw;
      height: 7vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      position: absolute;
      top: 5vw;
      right:5vw;
      border-radius: 0.5vw;
      @include small{
        width: 11vw;
        height: 4.5vw;
        top: 2.5vw;
        right: 2.5vw;
      }
      @include medium{
        width: 5.5vw;
        height: 2.25vw;
        top: 1.25vw;
        right: 1.25vw;
      }
      @include large{
        border-radius: 0.3vw;
      }
      span{
        color: darksaturated($color-tertiary);
        font-size: 5vw;
        @include small{
          font-size: 2.5vw;
        }
        @include medium{
          font-size: 1.25vw;
        }
      }
   }
  }
}

.card:nth-child(0n+2){    /*Photo positioning on 2nd restaurant*/
  img{
    object-position: 50% 60%;
  }
}

.small-card{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: white;
  border-radius: 4vw;
  overflow: hidden;
  padding: 0;
  margin: 0 4vw 4vw 4vw;
  max-height: 100vh;
  @include small{
    margin: 0 6vw 3vw 6vw;
    border-radius: 2.5vw;
    br{
      display: none;
    }
  }
  @include medium{
    margin: 0 3vw 1.5vw 3vw;
    border-radius: 1.5vw;
  }
  @include large{
    margin: 0 4vw 1vw 4vw;
    border-radius: 1.5vw;
  }

  &__name{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__name, &__price{
    padding: 3vw 3vw;
    @include small{
      padding: 2vw 2vw;
    }
    @include medium{
      padding: 1.5vw 1.5vw;
    }
    @include large{
      padding: 1vw 1vw;
    }
  }
  h3, p{
    margin: 0;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
  }

  h3{
    padding-bottom: 1.5vw;
    font-size: 5vw;
    @include small{
      font-size: 2.5vw;
      padding-bottom: 0.5vw;
    }
    @include medium{
      font-size: 1.5vw;
    }
    @include large{
      font-size: 1vw;
    }
  }
  p{
    font-size: 4vw;
    @include small{
      font-size: 2vw;
    }
    @include medium{
      font-size: 1.4vw;
    }
    @include large{
      font-size: 1vw;
    }
  }

  &__price{
    padding-top: 0;
    padding-left: 0;
    padding-right: 5vw;
    font-weight: bold;
    font-size: 4vw;
    @include small{
      font-size: 2vw;
      padding-right: 3vw;
    }
    @include medium{
      font-size: 1.5vw;
      padding-right: 2vw;
    }
    @include large{
      font-size: 1.1vw;
    }
  }
  &--selected{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0;
    align-self: stretch;
    background: $color-tertiary;
    margin: 0;
    padding: 0;
    border-radius: 0 4vw 4vw 0;
    color: white;
    font-size: 5vw;
    transition: width 0.3s ease-in-out; /*Selected animation */
    @include small{
      font-size: 3vw;
      border-radius: 0 3vw 3vw 0;
    }
    @include medium{
      font-size: 2.5vw;
      border-radius: 0 1.5vw 1.5vw 0;
    }
    @include large{
      font-size: 1.5vw;
      border-radius: 0 1.5vw 1.5vw 0;
    }
  }
  &:hover .small-card--selected, &:active .small-card--selected{
    width: 17vw;
    @include small{
      width: 13vw;
    }
    @include medium{
      width: 10vw;
    }
    @include large{
      width: 7vw;
    }
    i{
      animation: spin 0.4s both ease-in-out;
    }
  }
}

@keyframes spin {       /* Spinning checked mark animation*/
  0%
  {
    transform: rotate(0);
    z-index: 3;
    opacity: 1;
  }
  100%{
    transform: rotate(360deg);
    opacity: 1;
    z-index: 3;
  }
}

.hearts{                          /*Filled heart on top of empty hurt*/
  margin-right: 3vw;
  z-index: 3;
  @include medium{
    margin-right: 0.5vw;
  }
  &:hover > .filled-heart, &:active > .filled-heart{
    animation: fill 0.3s 0.2s forwards;
  }

  &:hover > .empty-heart, &:active > .empty-heart{
    opacity: 0;
  }
}

.fa-stack-1x{
  font-size: 6vw;
  @include small{
    font-size: 4vw;
  }
  @include medium{
    font-size: 2vw;
  }
  @include large{
    font-size: 1.5vw;
  }
}

.empty-heart{
  opacity: 1;
  z-index: 4;
}

.filled-heart{
  opacity: 0;
  background: -webkit-linear-gradient(top, $color-primary 25%, $color-secondary 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 5;
  overflow: visible;
}

@keyframes fill {                   /* Heart Animation*/
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 1;
  }
  80%
  {
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}