.home-nav {
  display: flex;
  justify-content: center;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 15vw;
  text-align: center;
  h2{
    font-size:6.5vw;
    margin-bottom: 0;
    @include small{
      font-size:3vw;
    }
    @include medium{
      font-size: 1.5vw;
    }
  }
  p{
    font-size: 5vw;
    @include small{
      font-size:3vw;
    }
    @include medium{
      font-size: 1.5vw;
    }
  }
}

.operating{

  h2 {
    @include base-margin;
    font-size: 6vw;
    @include small{
      font-size: 3vw;
    }
    @include medium{
      font-size: 1.5vw;
    }
    @include large{
      margin-left: 10vw;
    }
  }
  ol {
    list-style: none;
    counter-reset: li;
    padding: 0 7vw 0 7vw;
    @include medium{
      display: flex;
      justify-content: space-between;
      margin: 2vw auto 5vw auto;
      padding: 0;
      max-width: 80vw;
    }
    @include large{
      max-width: 70vw;
    }

    li {
      counter-increment: li;
      font-size: 4vw;
      background: $color-grey;
      border-radius: 5vw;
      padding: 6.5vw;
      margin-bottom: 6vw;
      position: relative;
      @include small{
        font-size: 3vw;
        padding: 3vw;
        margin-bottom: 3vw;
      }
      @include medium{
        font-size: 1.5vw;
        padding: 2.5vw;
        margin: 0;
        float: left;
        display: inline-block;
        border-radius: 2.5vw;
      }
      @include large{
        font-size: 1.2vw;
        padding: 2vw;
        border-radius: 1.5vw;
      }
      &::before {                     /*Bullets on the left of the elements*/
        content: counter(li);
        list-style-position: outside;
        color: white;
        text-align: center;
        background: $color-primary;
        display: inline-block;
        width: 6.5vw;
        height: 6.5vw;
        line-height: 6.5vw;
        font-size: 3.5vw;
        border-radius: 15vw;
        margin-left: -4vw;
        transform: translateX(-6vw);
        @include small{
          font-size: 2vw;
          width: 3.5vw;
          height: 3.5vw;
          line-height: 3.5vw;
          margin-left: 2vw;
        }
        @include medium{
          font-size: 1vw;
          width: 2vw;
          height: 2vw;
          line-height: 2vw;
          margin-left: 0;
          position: absolute ;
          left: 4.5vw;
        }
      }
      i{
        color:#7E7E7E;
        padding-right: 9vw;
        @include medium{
          padding-right: 3vw;
        }
        @include large{
          padding-right: 1.5vw;
        }
      }

      &:hover, &:active{
        background: pastel($color-primary);
        i{
          color: $color-primary;
        }
      }
      &::after{      /*Shadow on hover or active behind operating elements*/
        content: '';
        position: absolute;
        border-radius: 5vw;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-shadow: 11px 9px 12px 5px rgba(42,42,42,0.6);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      &:active::after, &:hover::after{
        opacity: 1;
      }
    }
  }
}

.restaurants{
  background: $color-grey;
  margin-bottom: 0;
  padding-bottom: 10vw;
  @include medium{
    padding-bottom: 0;
  }

  h2 {
    @include base-margin;
    margin-top: 0;
    padding-top: 10vw;
    @include small{
      font-size: 3vw;
      padding-top: 5vw;
    }
    @include medium{
      font-size: 1.5vw;
      padding-top: 2.5vw;
    }
    @include large{
      margin-left: 10vw;
    }
  }
}
