.home-nav {
  justify-content: center;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 15vw;
  text-align: center;

  h1{
    font-size:6.5vw;
    margin-bottom: 0;
  }

  p{
    font-size: 4vw;
  }
}

.operating{
  h2 {
    @include base-margin;
  }
  ol {
    list-style: none;
    counter-reset: li;
    padding: 0 7vw 0 7vw;

    li {
      counter-increment: li;
      font-size: 4vw;
      background: $color-grey;
      border-radius: 5vw;
      padding: 6.5vw;
      margin-bottom: 6vw;
      position: relative;
      &::before {                     /*Bullets on the left of the elements*/
        content: counter(li);
        list-style-position: outside;
        color: white;
        text-align: center;
        background: $color-primary;
        display: inline-block;
        width: 6.5vw;
        height: 6.5vw;
        line-height: 6.5vw;
        font-size: 3.5vw;
        border-radius: 15vw;
        margin-left: -4vw;
        transform: translateX(-6vw);
      }
      i{
        color:#7E7E7E;
        padding-right: 9vw;
        }

      &:hover, &:active{
        background: pastel($color-primary);
        i{
          color: $color-primary;
        }
      }
      &::after{      /*Shadow on hover or active behind operating elements*/
        content: '';
        position: absolute;
        border-radius: 5vw;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-shadow: 11px 9px 12px 5px rgba(42,42,42,0.6);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      &:active::after, &:hover::after{
        opacity: 1;
      }
    }
  }
}

.restaurants{
  background: $color-grey;
  margin-bottom: 0;
  padding-bottom: 10vw;
  h2 {
    @include base-margin;
    margin-top: 0;
    padding-top: 10vw;
  }

}
