@mixin small {                 /*RESPONSIVE MIXINS W/ 3 BREAKPOINTS : 768px, 1024px, 1440px*/
  @media only screen and (min-width: $small){
    @content;
  }
}
@mixin medium {
  @media only screen and (min-width: $medium){
    @content;
  }
}
@mixin large {
  @media only screen and (min-width: $large){
    @content;
  }
}


@mixin main-font {              /*FONTS USED*/
  font-family: "Roboto", sans-serif;
}
@mixin title-font {
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}

@mixin base-margin {
  margin-left: 6vw;
}